<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Borderland Drones</title>
  </head>
  <body>
    <div class="page-container">
      <header><%- include('../partials/navbar') %></header>
      <main><%- body %></main>
    </div>
  </body>
</html>
